.dashboard-screen {
  @include container;
  text-align: center;
  h1 {
    @include header;
  }
  h2 {
    @include header2;
  }
  &__logout-button {
    position: absolute;
    right: 25px;
    top: 25px;
    height: 32px;
    width: 32px;
  }
  &__button {
    @include button;
    width: 220px;
    margin-top: 10px;
  }
  &__button:hover {
    @include button-hover;
    width: 220px;
    margin-top: 10px;
  }
}
