.dashboard-screen {
  @include container;
  h1 {
    @include header;
  }
  h2 {
    @include header2;
  }
  &__button {
    @include button;
    width: 220px;
    margin-top: 10px;
  }
  &__button:hover {
    @include button-hover;
    width: 220px;
    margin-top: 10px;
  }
  @media screen and (min-width: 1199px) {
    h1 {
      @include header-xl;
    }
    h2 {
      @include header2-xl;
    }
    &__button {
      @include button-xl;
      width: 320px;
      margin-top: 10px;
    }
    &__button:hover {
      @include button-xl-hover;
      width: 320px;
      margin-top: 10px;
    }
  }
}
