.dashboard-screen {
  @include container;
  text-align: center;
  &__header {
    @include header;
  }
  &__logout-button {
    position: absolute;
    right: 20px;
    top: 25px;
    height: 30px;
    width: 30px;
  }
  &__button {
    @include button;
    width: 220px;
    margin-top: 20px;
  }
  &__button:hover {
    @include button-hover;
    width: 220px;
    margin-top: 20px;
  }
}
