.select-job-screen {
  @include container;
  &__job-type-icon {
    height: 100px;
    width: 100px;
  }
  h1 {
    @include header;
  }
  h2 {
    margin-top: 30px;
    font-weight: 200;
  }
  &__button-container {
    @include flex-column;
    margin-bottom: 20px;
  }
  button {
    @include button;
    width: 150px;
  }
  button:hover {
    @include button-hover;
    width: 150;
  }
  &__job-type-icon--image {
    width: 80px;
    margin-bottom: 29px;
    margin-top: 25px;
  }
  &__job-type-icon--chat {
    width: 75px;
    margin-bottom: 25px;
  }
  &__job-type-icon--video {
    width: 80px;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 1199px) {
    h1 {
      @include header-xl;
    }
    h2 {
      @include header2-xl;
    }
    button {
      @include button-xl;
      width: 250px;
    }
    button:hover {
      @include button-xl-hover;
      width: 250px;
    }
    &__job-type-icon--image {
      width: 150px;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    &__job-type-icon--chat {
      width: 135px;
      margin-bottom: 15px;
    }
    &__job-type-icon--video {
      width: 145px;
      margin-bottom: 15px;
    }
  }
}
