.chat-job {
  @include container;
  width: 100%;
  background-color: $background-color;
}

.chat-job--chat-header {
  @include header;
  margin-top: 0;
  margin-bottom: 0;
}

.chat-job--message-container {
  border-radius: 10px;
  background-color: $secondary-color;
  display: flex;
  flex-direction: row;
  box-shadow: $box-shadow;
  overflow: scroll;
  //desktop
  // height: 450px;
  // width: 1000px;

  //mobile
  height: 400px;
  width: 300px;
}

.chat-job--single-message-container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: $box-shadow;
  overflow-wrap: break-word;
  word-break: break-word;
  //mobile
  width: 50%;
  padding: 0 5px;
  margin: 10px;

  //desktop
  // width: 40%;
  // padding: 0 10px;
  // margin: 20px;
}

.chat-job--single-message-container p {
  //mobile
  margin: 5px;
}

.chat-job--message--content {
  width: 100%;
  font-size: 18px;
}

.chat-job--message--meta {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 14px;
}

#chat-job--message--author {
  margin-right: 10px;
}

#you {
  justify-content: flex-start;
  background-color: rgb(48, 131, 31);
}

#you .chat-job--message--content {
  justify-content: flex-start;
  text-align: left;
}

#you .chat-job--message--meta {
  justify-content: flex-start;
}

#other {
  margin-left: auto;
  justify-content: flex-end;
  background-color: chocolate;
}

#other .chat-job--message--content {
  justify-content: flex-end;
  text-align: right;
}

#other .chat-job--message--meta {
  justify-content: flex-end;
}

.chat-job--message--meta #chat-job--message--author {
  font-weight: bold;
}

.chat-job--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  //mobile
  margin-top: 5px;
  margin-bottom: 10px;

  //desktop
  // margin-top: 10px;
  // margin-bottom: 20px;
}

.chat-job--footer--textarea {
  //mobile
  width: 150px;
  height: 40px;
  margin-right: 10px;

  //desktop
  // width: 300px;
  // height: 80px;
  // margin-right: 40px;
}

//removes the default button added by react-scroll-to-bottom
.takeMeToBottom {
  display: none;
}
