.chat-and-video-form {
  @include container;
  padding: 0px 60px;
  h1 {
    @include header;
  }
  &__form {
    @include flex-column;
  }
  &__input {
    @include input;
    width: 100%;
  }
  &__input::placeholder {
    @include input-placeholder;
  }
  &__text-area {
    @include input;
    margin-left: 10%;
    margin-right: 10%;
    resize: vertical;
    width: 100%;
    margin-bottom: 30px;
  }
  &__text-area::placeholder {
    @include input-placeholder;
  }
  &__select {
    width: 80%;
    margin-bottom: 10px;
  }
  &__button {
    @include button;
    margin-top: 50px;
  }
}
