.completed-image {
  &__container {
    @include container;
  }
  margin-bottom: 60px;

  h1 {
    @include header;
    width: 250px;
  }
  h3 {
    @include header2;
  }
  &__container--image {
    width: 300px;
  }
  &__image {
    box-shadow: $box-shadow;
    width: 100%;
  }
  .translated-text {
    @include header2;
    margin-bottom: 30px;
    font-style: italic;
  }
  @media screen and (min-width: 1199px) {
    h1 {
      @include header-xl;
      width: 700px;
      font-size: 3rem;
    }
    h3 {
      @include header3-xl;
    }
    &__container--image {
      width: 700px;
    }
    &__image {
      box-shadow: $box-shadow;
      width: 100%;
    }
    .translated-text {
      font-size: 1.3rem;
    margin-bottom: 60px;
    }
  }
}
