.completed-chat {
height: 800px;
  @include container;
  &__header {
    @include header;
    width: 250px;
    margin-bottom:30px;
  }
p {
  font-size: 0.9rem;
  margin: 5px;
  margin-bottom: 0;
}
&__body {
  width: 100%;
  height: 600px;
}

&__message-container {
  height: 550px;
  width: 90%;
  padding: 10px;
  margin: auto;
  @include flex-column;
  justify-content: flex-start;
  border-radius: 10px;
  background-color: $secondary-color;
  box-shadow: $box-shadow;
  overflow: scroll;
}
&__message-container::-webkit-scrollbar {
  display: none;
}
&__single-message-container {
  border-radius: 10px;
  box-shadow: $box-shadow;
  overflow-wrap: break-word;
  word-break: break-word;
  padding: 0 5px;
  margin: 7px;
  width: fit-content;
  max-width: 70%;
  text-align:left;
}
.you {
  background-color: $primary-color;
  justify-content: flex-start;
  align-self: flex-end;
}
.other {
  background-color: rgb(116, 151, 255);
  justify-content: flex-end;
  align-self: flex-start;
}
&__message-meta {
  padding: 0 10px;
  margin-bottom: 2px;
  p {
    font-size: 0.5rem;
    font-style: italic;
  }
}
&__message-author {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

  @media screen and (min-width: 1199px) {
    height: 100%;
    h1 {
      @include container;
      @include header-xl;
      width: 700px;
      font-size: 3.5rem;
      margin-bottom: 60px;
    }
    h3 {
      @include header3-xl;
    }
    &__message-container {
    width: 400px;
    height: 650px;
    }
  }
}




