.completed-image {
  &__container {
    @include container;
  }
  margin-bottom: 60px;

  h1 {
    @include header;
  }
  h3 {
    @include header2;
  }
  &__container--image {
    width:300px;
  }
  &__image {
  box-shadow: $box-shadow;
    width: 100%;
  }
  .translated-text {
    @include header2;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.077);
    font-style: italic;
  }
}