.completed-job-list {
  @include container;
  h1 {
    @include header;
  }
  h2 {
    @include header2;
  }
  button {
    @include button;
  }
  button:hover {
    @include button-hover;
  }
  @media screen and (min-width: 1199px) {
    h1 {
      @include header-xl;
    }
    h2 {
      @include header2-xl;
    }
    button {
      @include button-xl;
      width: 320px;
      margin-top: 10px;
    }
    button:hover {
      @include button-xl-hover;
      width: 320px;
      margin-top: 10px;
    }
  }
}
