.flag-component {
  height: 60px;
  width: 60px;
  height: fit-content;
  background-color: $primary-color;
      height: 43.33px;
    border-radius: 13px;

    img {
    box-shadow: $box-shadow;
    border-radius: 12px;
  }
}
