.image-form {
    @include container;
    &__header {
    @include header;
    }
      &__form {
    @include flex-column;
  }
  &__input {
    width: 100%;
  }
  &__text-area {
    width: 100%
  }
  &__select {
    width: 100%;
  }
  &__image-preview {
    width: 80%;
  }
}