.image-form {
  @include container;
  &__form {
    width: 280px;
  }
  h1 {
    @include header;
    width: 280px;
  }
  h3 {
    @include header2;
  }
  &__form {
    @include flex-column;
  }
  &__input {
    @include input;
    width: 100%;
  }
  &__input::placeholder {
    @include input-placeholder;
  }
  input:focus {
    border: 2px solid $secondary-color;
    outline: none;
  }
  &__text-area {
    @include input;
    margin-left: 10%;
    margin-right: 10%;
    resize: vertical;
    width: 100%;
    margin-bottom: 30px;
  }
  &__text-area::placeholder {
    @include input-placeholder;
  }
  &__text-area:focus {
    border: 2px solid $secondary-color;
    outline: none;
  }
  &__select {
    width: 80%;
    margin-bottom: 10px;
  }
  button {
    @include button;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  &__image-preview {
    width: 80%;
  }
  &__choose-button {
    @include button;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  &__choose:hover {
    @include button-hover;
  }
  &__image-preview {
    box-shadow: $box-shadow;
  }
  @media screen and (min-width: 1199px) {
    h1 {
      @include header-xl;
      width: 700px;
      font-size: 3rem;
    }
    &__input {
      @include input;
      width: 100%;
      padding: 10px;
    }
    &__input::placeholder {
      font-size: 1rem;
    }
    &__text-area::placeholder {
      font-size: 1rem;
    }
    &__choose-button {
      width: 130px;
      padding: 8px 20px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    &__choose:hover {
      @include button-hover;
    }
    h3 {
      font-weight: 300;
      font-size: 1.7rem;
      margin-top: 10px;
    }
    &__image-preview {
      width: 240%;
    }
  }
}
