.pending-translator {
  @include container;
  @include tile;

  &__bidirectional {
    width: 15%;
  }
  &__flag-container {
    @include flex-row;
    width: 80%;
    justify-content: space-evenly;
    padding-top: 10px;
  }
  &__details {
    @include flex-row;
    width: 90%;
    justify-content: space-between;
    align-items: baseline;
    p {
      color: #fff;
    }
  }
  &__job-type-icon {
    width: 30px;
  }
}
