.translator-pending-job-details {
padding: 0 60px;
@include container;
&__header {
  @include header;
}
h2 {
  @include header2;
  margin-top: 56px;
  margin-bottom: 0;
}
h3 {
  @include header2;
  margin-top:20px;
  margin-bottom: 0;
}
p {
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.071);
  margin-top: 15px;
}
&__button {
  @include button;
}
&__image {
  margin-bottom: 10px;
}
}
