.translator-pending-job-details {
  padding: 0 60px;
  @include container;
  &__header {
    @include header;
  }
  h2 {
    @include header2;
    // margin-top: 56px;
    margin-bottom: 0;
  }
  h3 {
    @include header2;
    margin-top: 20px;
    margin-bottom: 0;
  }
  p {
    font-style: italic;
    margin-top: 15px;
  }
  &__button {
    @include button;
  }
  &__image {
    margin-bottom: 10px;
    width: 300px;
  }
  @media screen and (min-width: 1199px) {
    &__header {
      @include header-xl;
      width: 700px;
      font-size: 3rem;
    }
    h3 {
      @include header3-xl;
    }
    &__image {
      box-shadow: $box-shadow;
      width: 75%;
    }
    p {
      font-size: 1.5rem;
    }
    &__button {
      @include button-xl;
      margin-top: 35px;
    }
  }
}
