.translator-job-list {
  @include container;
  button {
    @include button;
    margin-top: 15px;
    width: 220px;
  }
  button:hover {
    @include button-hover;
    margin-top: 15px;
    width: 220px;
  }
}
