.video-player {
  @include container;
  * {
    margin: 10px;
  }
  &__video--my-video {
    border-radius: 20px;
    position: relative;
    width: 80%;
    z-index: 0;
  }
  &__video--user-video {
    width: 20%;
    border-radius: 20px;
    position: absolute;
    left: 10%;
    top: 10px;
    z-index: 10;
  }
}
