@mixin container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin header {
  width: 100%;
  background-color: #0198ba;
  color: white;
  text-align: center;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.351);
  font-family: $header-font;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.529);
}
