@mixin container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 20px;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin header {
  color: $secondary-color;
  margin: 50px 0px 30px 0px;
}

@mixin header-xl {
  color: $secondary-color;
  margin: 80px 0px 50px 0px;
  font-size: 3.5rem;
}

@mixin header2 {
  font-weight: 300;
  margin-top: 10px;
}

@mixin header2-xl {
  font-weight: 300;
  margin-top: 10px;
  font-size: 2.2rem;
}

@mixin tile {
  border-radius: 12px;
  height: 117px;
  width: 90%;
  background: linear-gradient(to right, #00b4db, #0083b0);
  box-shadow: $box-shadow;
  padding-top: 10px;
  margin-bottom: 20px;
}

@mixin tile-xl {
  border-radius: 12px;
  height: 180px;
  width: 800px;
  background: linear-gradient(to right, #00b4db, #0083b0);
  box-shadow: $box-shadow;
  padding-top: 10px;
  margin-bottom: 40px;
}

@mixin logout-button {
  position: absolute;
  right: 25px;
  top: 25px;
  height: 32px;
  width: 32px;
}

@mixin logout-button-xl {
  position: absolute;
  right: 45px;
  top: 45px;
  height: 52px;
  width: 52px;
}

@mixin back-button {
  position: absolute;
  left: 25px;
  top: 25px;
  height: 32px;
  width: 32px;
}

@mixin back-button-xl {
  position: absolute;
  left: 45px;
  top: 45px;
  height: 52px;
  width: 52px;
}

@mixin button {
  margin-top: 5px;
  color: white;
  border-radius: 5px;
  background-color: $primary-color;
  padding: 7px 0px;
  width: 160px;
  border: none;
  font-size: 1rem;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

@mixin button-xl {
  margin-top: 15px;
  color: white;
  border-radius: 5px;
  background-color: $primary-color;
  padding: 12px 5px;
  width: 220px;
  border: none;
  font-size: 1.4rem;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

@mixin button-hover {
  background-color: $secondary-color;
}

@mixin button-xl-hover {
  background-color: $secondary-color;
}

@mixin input {
  margin-bottom: 10px;
  padding: 7px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid $primary-color;
  text-align: center;
}

@mixin input-placeholder {
  color: rgba(58, 58, 58, 0.701);
  font-family: $main-font;
}
