.video-player-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  height: 50px;
}
.video-stream-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stream {
  width: 80%;
  height: 80%;
  transform: rotateY(180deg);
}